.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-blue {
  background-color: #007BFF;
}

.button-red {
  background-color: #dc3545;
}